<h3><a href="/login">Log In</a>  or  <a href="/signup">Sign Up</a></h3><br>

<a href="/">Or look at some more virtpals!</a>
<br><br><br>

<h2>Virtpal #<%= @pal.id %> by <%= @pal.creator.username %>!</h2>

<h3>Name:  <%= @pal.name %></h3>
<h3>Color:  <%= @pal.color %></h3>
<h3>Height:  <%= @pal.height %></h3>
<h3>Build:  <%= @pal.build %></h3>
<h3>Mood:  <%= @pal.mood %></h3>